@font-face {
    font-family: 'fira_sansregular';
    src: url('firasans-regular-webfont.eot');
    src: url('firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-regular-webfont.woff2') format('woff2'),
         url('firasans-regular-webfont.woff') format('woff'),
         url('firasans-regular-webfont.ttf') format('truetype'),
         url('firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansbold';
    src: url('firasans-bold-webfont.eot');
    src: url('firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-bold-webfont.woff2') format('woff2'),
         url('firasans-bold-webfont.woff') format('woff'),
         url('firasans-bold-webfont.ttf') format('truetype'),
         url('firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansextrabold';
    src: url('firasans-extrabold-webfont.eot');
    src: url('firasans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-extrabold-webfont.woff2') format('woff2'),
         url('firasans-extrabold-webfont.woff') format('woff'),
         url('firasans-extrabold-webfont.ttf') format('truetype'),
         url('firasans-extrabold-webfont.svg#fira_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body, .container-fluid {height: 100%;}
.row {height: 100%; min-height: 100%;}
.box {min-height: 100%;}

.pattern {
    background-color: #000e47;
}

.shadow {
  -webkit-box-shadow: inset 20px 0px 15px -8px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 20px 0px 15px -8px rgba(0,0,0,0.5);
  box-shadow: inset 20px 0px 15px -8px rgba(0,0,0,0.5);
}

.container-fluid.full {padding-left: 0; padding-right: 0;}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.btn-outline{
  background-color: transparent;
  color: #C9C9DC;
  transition: all .5s;
}

.main {
  background-color: #C9C9DC;
  display: flex;
}

.side {
  display: flex;
  align-items: center;
}


@media screen and (min-width: 320px) and (max-width: 991px) {
  .nav {
    display: none;
  }
  .dropdown{
    display: block;
    align-self: flex-start;
    margin-left: 1vmax;
    margin-top: 1vmax;
  }
  .box {
    min-height: 30%;
  }
  .side{
    max-height: 50%;
  }

  .main {
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }

  h1{
    font-family: "fira_sansextrabold", sans-serif;
    font-size: 10vmax;
    color: #2A375F;
    margin-top: -10px;
  }

  .content {
    width: 70%;
    align-self: center;
  }
  .content p{
    font-family: "fira_sansbold",sans-serif;
    font-size: 6vmax;
    color: #6D6D80;
  }


  .subtext {
    display: none;
  }

  .clip-circle {
    background:url('pawan-min.png') no-repeat;
    background-size:480px 480px;
    background-position:-160px 0px;
    height: 480px;
    width: 480px;
    border: 10px solid #C9C9DC;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -125px;
    margin-bottom: 10px;
    flex-shrink: 0;
  }

  .smaller {
    /*these are the override-ers*/
    background-size:331px 240px;
    background-position:-70px 0px;
    height:240px;
    width:240px;

  }
}

@media screen and (min-width: 992px) {
    .main{
      align-items: center;
    }
    .nav{
      display: block;
      align-self: center;
      padding-left: 4rem;
    }
    .dropdown {
      display: none;
    }

    .clip-circle {
      background:url('pawan-min.png') no-repeat;
      background-size:480px 480px;
      background-position:-160px 0px;
      height: 480px;
      width: 480px;
      border: 10px solid #C9C9DC;
      border-radius: 50%;
      overflow: hidden;
      align-self: center;
      margin-left: -125px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    .smaller {
      /*these are the override-ers*/
      background-size:331px 240px;
      background-position:-70px 0px;
      height:240px;
      width:240px;

    }

    .content{
      align-self: center;
    }

    .content p{
      font-family: "fira_sansbold",sans-serif;
      font-size: 3vmax;
      color: #6D6D80;
      margin-right: 10vmax;
    }

    .content p.subtext{
      font-family: "fira_sansregular", sans-serif;
      font-size: 2vmax;
      font-weight: 300;
    }

    h1{
      font-family: "fira_sansextrabold", sans-serif;
      font-size: 6vmax;
      color: #2A375F;
      margin-top: -20px;
    }

    .nav ul {
      align-self: flex-start;
      list-style: none;
      padding-left: 1vmax;
      flex-shrink: 0;
    }

    .nav ul li{
      margin: 2vmax 2vmax;
    }

}
