html, body, .container-fluid {height: 100%;}
.row {height: 100%; min-height: 100%;}
.box {min-height: 100%;}

.pattern {
  background-image: url('pat.png');
  background-repeat: repeat;
}

.shadow {
  -webkit-box-shadow: inset 20px 0px 15px -8px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 20px 0px 15px -8px rgba(0,0,0,0.5);
  box-shadow: inset 20px 0px 15px -8px rgba(0,0,0,0.5);
}

.container-fluid.full {padding-left: 0; padding-right: 0;}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.btn-outline{
  background-color: transparent;
  color: #C9C9DC;
  transition: all .5s;
}

.main {
  background-color: #C9C9DC;
  display: flex;
  align-items: center;
}

.side {
  display: flex;
  align-items: center;
}


@media screen and (min-width: 320px) {
  .nav {
    display: none;
  }
  .dropdown{
    display: block;
    align-self: flex-start;
  }
}

@media screen and (min-width: 960px) {

    .nav{
      display: block;
    }
    .dropdown {
      display: none;
    }

    .clip-circle {
      background:url('pawan.png') no-repeat;
      background-size:480px 480px;
      background-position:-160px 0px;
      height: 480px;
      width: 480px;
      border: 10px solid #C9C9DC;
      border-radius: 50%;
      overflow: hidden;
      align-self: center;
      margin-left: -125px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    .smaller {
      /*these are the override-ers*/
      background-size:331px 240px;
      background-position:-70px 0px;
      height:240px;
      width:240px;

    }

    .content{
      align-self: center;
    }

    .content p{
      font-family: "Fira Sans",sans-serif;
      font-weight: bold;
      font-size: 3vmax;
      color: #6D6D80;
      margin-right: 10vmax;
    }

    .content p.subtext{
      font-size: 2vmax;
      font-weight: 300;
    }

    h1{
      font-family: "Fira Sans", sans-serif;
      font-weight: bolder;
      font-size: 6vmax;
      color: #2A375F;
      margin-top: -20px;
    }

    .nav {
      align-self: center;
    }

    .nav ul {
      align-self: flex-start;
      list-style: none;
      padding-left: 1vmax;
      flex-shrink: 0;
    }

    .nav ul li{
      margin: 2vmax 2vmax;
    }

}
